:root {
  --tp-base-background-color: hsla(0, 0%, 73%, 1.00);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --tp-button-background-color: hsla(0, 0%, 100%, 1.00);
  --tp-button-background-color-active: hsla(0, 0%, 85%, 1.00);
  --tp-button-background-color-focus: hsla(0, 0%, 90%, 1.00);
  --tp-button-background-color-hover: hsla(0, 0%, 95%, 1.00);
  --tp-button-foreground-color: hsla(230, 20%, 11%, 1.00);
  --tp-container-background-color: hsla(0, 0%, 0%, 0.20);
  --tp-container-background-color-active: hsla(0, 0%, 0%, 0.35);
  --tp-container-background-color-focus: hsla(0, 0%, 0%, 0.30);
  --tp-container-background-color-hover: hsla(0, 0%, 0%, 0.25);
  --tp-container-foreground-color: hsla(0, 0%, 100%, 0.90);
  --tp-groove-foreground-color: hsla(0, 0%, 0%, 0.50);
  --tp-input-background-color: hsla(0, 0%, 0%, 0.50);
  --tp-input-background-color-active: hsla(0, 0%, 0%, 0.65);
  --tp-input-background-color-focus: hsla(0, 0%, 0%, 0.60);
  --tp-input-background-color-hover: hsla(0, 0%, 0%, 0.55);
  --tp-input-foreground-color: hsla(0, 0%, 100%, 0.90);
  --tp-label-foreground-color: hsla(0, 0%, 100%, 0.90);
  --tp-monitor-background-color: hsla(0, 0%, 0%, 0.50);
  --tp-monitor-foreground-color: hsla(0, 0%, 100%, 0.50);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: monospace, 'Segoe UI', Tahoma, Verdana, sans-serif;
  background: black;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
}

canvas {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

footer {
  margin-top: 1rem;
}
canvas {
  outline: 2px solid white;
}